*{
  box-sizing: border-box;
  max-width: 100%;
  
}
header{
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 15px;

}
html{
    font-size: 62.5%;
}
body{
    /* background-color: beige; */
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: azure;
    text-align: center;
}
button{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: rgb(124, 126, 128);
    border: black solid 1px;
}
button:active{
    background-color: black;
}
button:hover{
    background-color: rgb(126, 120, 120);
    border: white solid 1px;
}
nav{
    padding: 0.5;
}

footer{
    text-align: center;
    background-color: lightgrey;
    padding: 20px;
    
}
footer button{
    display:inline-block ;
    color: white;
    width: 100px;
    height: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description{
    padding: 20px;
    width: 50%;
}
.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}
.portfolio-element{
    text-align: center;
}
